<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>vc1</string>
		<key>icon</key>
		<string>nothing</string>
		<key>storyboardName</key>
		<string>Main</string>
		<key>controllerId</key>
		<string>vc1</string>
	</dict>
    <dict>
        <key>name</key>
        <string>vc2</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc2</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc3</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc3</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc4</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc4</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc5</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc5</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc6</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc6</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc7</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc7</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc8</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc8</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc9</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc9</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc10</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc10</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc11</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc11</string>
    </dict>
    <dict>
        <key>name</key>
        <string>vc12</string>
        <key>icon</key>
        <string>nothing</string>
        <key>storyboardName</key>
        <string>Main</string>
        <key>controllerId</key>
        <string>vc12</string>
    </dict>
</array>
</plist>
